

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.transferContainer{
    box-sizing: border-box;
    column-gap: 20px;
    height: 100vh;
}

.list{
    border: 1px solid black;
    border-radius: 20%;
    flex-direction: column;
    height: 25vh;
    width: 200px;
}

.item{
    height: 2rem;
    column-gap: 4px;
    font-size: 1.5rem;
}
.controls{
    flex-direction: column;
    row-gap: 10px;
}